<h3>Cadastrar Disciplina</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nomeDisciplina" required [(ngModel)]="disciplina.nomeDisciplina" name="nomeDisciplina">
    </div>

    <div class="form-group">
      <label for="name">Professor</label>
      <input type="text" class="form-control" id="professorDisciplina" required [(ngModel)]="disciplina.professorDisciplina" name="professorDisciplina">
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Enviado com sucesso!</h4>
</div>
